:root{
    font-family: Arial, Helvetica, sans-serif;
} 
.logo{
    width: 100px;
}
#contenedor_encabezado{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
#titulo{
    color: black;
}
#contenedor_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/banner.jpg);
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}
#descripcion{
    font-family: Arial, Helvetica, sans-serif

}
 #subtitulo{
    font-size: xx-large;
    color:rgb(255, 30, 0);
 }
 #tarjetas{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content:space-between ;
    gap: px 10px;

 }